PUID=
PGID=
TZ=""
USERDIR="/home/user"
DOCKERDIR="/home/user/docker/.data"		# Directory where all the extra data is kept for the Docker stack
APPDATADIR="/home/user/docker/.data/appdata"	# Directory for the container config files etc
DOWNLOADSDIR="/home/user/mnt/media/downloads"  	# Download location where media is downloaded
DOWNLOADSDIR_NOTARR="/home/user/mnt/downloads" 	# Secondary download location for use with qBittorrent
MEDIADIR1="/home/user/mnt/media"		# Media root directory
HOSTNAME="ubuntu-docker"			# Your device name if reusing stack on different machines with different. It's used to save certain config files in different directories. I will remove this eventually, but it is needed for some services for now.	
DOMAINNAME_1=""					# Your domain name to use with Traefik. I haven't tried running this stack without one, so if you don't have one, things might not work.
EMAIL_ADDRESS=""				# Your email address for email notifications. I don't believe anything actually uses this currently.
SERVER_LAN_IP=''				# Your server's local IP
LOCAL_IPS='127.0.0.1/32,10.0.0.0/8,192.168.0.0/16,172.16.0.0/12'	# IPs to treat as part of local network
DOCKER_HOST="tcp://socket-proxy:2375"		# Alias for the socket proxy. Shouldn't need to change.

# Proton VPN Wireguard config
# Should work with other VPN providers, but ymmv.
WG_PUBLIC_KEY=""
WG_PRIVATE_KEY=""
WG_ENDPOINT_IP=""
WG_ADDRESSES=""
DNS_ADDRESS=""

# WG-Easy VPN config
WG_EASY_PASSWORD_HASH=''
WG_EASY_ALLOWED_IPS='0.0.0.0/0,::/0'


TRAEFIK_PORT="8080"
DDNS_UPDATER_PORT="8010"
PORTAINER_PORT="9000"
DOZZLE_PORT="8082"
HOMEPAGE_PORT="3000"
JELLYFIN_PORT="8096"
SABNZBD_PORT="8091"
QBITTORRENT_PORT="8081"
RADARR_PORT="7878"
BAZARR_PORT="6767"

# These were needed for when I let CloudFlare control my DNS, but I was having too much trouble 
# with CloudFlare and I went back to my domain provider's DNS services. Left it here in case I ever need it again.
CLOUDFLARE_IPS='173.245.48.0/20,103.21.244.0/22,103.22.200.0/22,103.31.4.0/22,141.101.64.0/18,108.162.192.0/18,190.93.240.0/20,188.114.96.0/20,197.234.240.0/22,198.41.128.0/17,162.158.0.0/15,104.16.0.0/13,104.24.0.0/14,172.64.0.0/13,131.0.72.0/22'
